*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 30px;
}

.list {
	padding-left: 10px;
}

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	margin-bottom: 10px;
	span {
		text-align: left;
		flex-grow: 1;
	}
}
li {
	list-style: none;
}

button {
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	font-weight: 900;
	background-color: rgb(176, 222, 247);
}

input {
	padding: 10px 20px;
	border: 1px solid #bbbaba;
	border-radius: 10px;
	font-weight: 900;
	background-color: rgb(243, 246, 248);
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
	margin-bottom: 10px;
	input {
		flex-grow: 1;
	}
}
